importFrom("methods", is, setGeneric, setMethod, setReplaceMethod)
importFrom("S4Vectors", DataFrame)
importFrom("VariantAnnotation", geno, header, "header<-", info, meta, "meta<-", 
           samples)
importFrom("GenomeInfoDb", genome, seqinfo, seqlengths, seqnames)

exportMethods(markValidity, sampleinfo, "sampleinfo<-", software, "software<-",
              validPloidyverseVCF_Archival, 
              validPloidyverseVCF_Postcall, validPloidyverseVCF_Precall)
export(array3D_to_matrixList, enumerateGenotypes, genotypeStrings,
       matrixList_to_array3D)
