importFrom("methods", setGeneric, setMethod, setReplaceMethod)
importFrom("S4Vectors", DataFrame)
importFrom("VariantAnnotation", geno, header, "header<-", info, meta, "meta<-", 
           samples)
importFrom("GenomeInfoDb", genome, seqinfo, seqlengths, seqnames)

exportMethods(markValidity, validPloidyverseVCF_Archival, 
              validPloidyverseVCF_Postcall, validPloidyverseVCF_Precall)
